.Background{
    -fx-background-image: url("../Images/BG.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.logo_container{
    -fx-background-image: url("../Images/Logo.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 50% 80%;
    -fx-background-position: center center;
}

.InGameBG{
    -fx-background-image: url("../Images/InGameBG.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.MusicBG{
    -fx-background-image: url("../Images/barde.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}